.hero_nav_list {
    display: flex;
    gap: 2rem;
    list-style: none;
  }

  .hamburger {
    display:none;
  }

  .menu_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .hero_nav_item {
    color: #FFF;
    font-family: 'Alata', Arial, Helvetica, sans-serif;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5625rem;
  }

  .hero_nav_item:hover {
    cursor: pointer;
  }

  .underline {
    position: absolute;
    width: 40%;
    height: 0.1rem;
    bottom: -0.4rem;
    background-color: #FFF;
  }

  @media (max-width: 768px) and (min-width:325px) {
    .hero_nav_list{
      display: none;
      
    }

    .menu_box {
      margin-bottom: 1rem;
      width: fit-content;
    }

    .hero_nav_item {
      width: fit-content;
    }

    .hamburger {
      display: block;
    }

    .Eh {
      display: none;
    }

    .mostra {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }

    .modal {
      
    }
  }
