.social_media_list {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.social_img {
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem #000 solid;
}

.social_img:hover {
    border-bottom: 0.1rem #FFF solid;
}