
.app_container {
  width: 100%;
  min-height: 100vh;
}

.header_container {
  width: 100%;
  background-image: url('./assets/desktop/image-hero.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
}

.header_content {
  flex-basis: 1110px;
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
}

.navbar_container {
  display: flex;
  justify-content: space-between;
  margin: 4rem 0 8.12rem;
}

.hero_logo {
  height: 2rem;
  width: 12rem;
}

.h1_container {
  display: flex;
  margin-bottom: 9.13rem;
}

.hero_title {
  color: #FFF;
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 4.375rem; 
  text-transform: uppercase;
  flex-basis: 40.625rem;
  border: 2px solid #FFF;
  padding: 2.5rem;
  padding-bottom: calc(2.5rem - 0.8rem);
}

.info_container {
  display: flex;
  justify-content: center;
  padding-top: 10rem;
  align-items: flex-end;
  margin-bottom: 11.5rem;

}

.info_flex_container {
  flex-basis: 1110px;
  height: max-content;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  margin: 0 2rem;
}

.info_text_content {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 6rem 0 0 6rem;
  width: 33.8125rem;
  background-color: #FFF;
}

.creations_container {
  display: flex;
  justify-content: center;
}

.creations_flex_container {
  flex-basis: 1110px;
  margin: 0 2rem;
  border: 1px solid red;
}

.creations_header_container {
  display: flex;
  justify-content: space-between;
  height: min-content;
  margin-bottom: 5.25rem;
}
.creation_title {
  margin-bottom: 0rem;
}

.cards_container {
  border: 1px solid blue;
}


.footer_flex_container {
  flex-basis: 1110px;
  margin: 2.5rem 2rem 0;
}

.footer_logo {
  width: 9rem;
  height: 1.5rem;
}

.social_media_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.footer_menu {
  display: flex;
  justify-content: space-between;
}

.brand_rights {
  color: hsla(0, 0%, 100%, 0.5);
  font-family: 'Alata', Arial, Helvetica, sans-serif;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5625rem;
}

.attribution {
  margin-top: 4rem;
  text-align: center;
  color: hsla(0, 0%, 100%, 0.5);
}

.attribution a {
  color: #FFF;
}